<!-- <mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list> -->

  <!-- 

  <mat-grid-tile>
        <router-outlet></router-outlet>
    
        <a routerLink="/component2" routerLinkActive="active" (click)="avanzar()">

        <div class="wrapper" align="center">
          <router-outlet></router-outlet>
        </div>

        <div [@routerTransition]="getRouteAnimation(route)" class="wrapper" align="center">
          <router-outlet #route="outlet"></router-outlet>
        </div>


  </mat-grid-tile> -->

<div class="wrapper" align="center">
  <mat-card class="card-central">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button routerLinkActive="active" routerLink="/inicio" (click)="toggle()">Inicio</button>
        <button mat-button routerLinkActive="active" routerLink="/consultar" (click)="toggle()">Consultar</button>
        <button mat-button routerLinkActive="active" routerLink="/graficar" (click)="toggle()">Graficar</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
  <mat-card class="card-central">
    <div class="wrapper" align="center" [@routerTransition]="bindingVar">
          <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>

        